<!--继承模板-->
{% extends 'descriptors/base.html' %}
<!--修改标题-->
{% block title %}
    <title>descriptors</title>
{% endblock %}
<!--修改内容-->
<!--巨幕-->
{% block jumbotron %}
    <h1 style="margin-top: 10px">Descriptors Generation</h1>
    <p class="text-justify">
        This module can capture and output protein-ligand interactions in the form of descriptors based on the input
        conformations of protein and ligand. Thirty-five scoring functions, four interaction fingerprints and two
        molecular fingerprints were embedded into the module for the characterization of protein-ligand interaction
        information, and they can provide more than 10000 descriptors.
        <br><br>It should be noted that we have stopped external services for some software packages with copyright
        issues. Even so, 19 scoring functions being able to provide 6169 descriptors are still available and the
        interaction fingerprints and molecular fingerprints have no license restrictions.
        <br><br>Remind:
        <br>The computational speed of scoring functions implemented in DOCK (i.e. Contact, Continuous,
        Grid,
        Hawkins and SASA) is slow. Therefore, these scoring functions should be used with caution.
        <br> The ligands should be docked into the pocket of the receptor before being uploaded.

    </p>
{% endblock %}
<!--主体内容-->
{% block content %}
    <!--任务提交-->
    <!--表单-->
    <form class="form-horizontal" action="{% url 'cal_descriptors:descriptors' %}" method="post"
          enctype="multipart/form-data">
        {% csrf_token %}
        <!--基本配置行-->
        <div class="row">
            <!--面板-->
            <div class="panel panel-primary">
                <!--上传文件标题-->
                <div class="panel-heading text-center">
                    <h3 style="margin-bottom: 0;margin-top: 0">Descriptor Panel</h3>
                </div>
                <!--面板体-->
                <div class="panel-body" style="padding-top: 30px">
                    <!--左半部分-->
                    <div class="col-sm-6">
                        <!--上传蛋白分子表单-->
                        <div class="form-group">
                            <!--标签宽度-->
                            <label for="p-file" class="col-sm-3 control-label">Protein</label>
                            <!--选择框宽度-->
                            <div class="col-sm-9">
                                <!--在首尾加入符号-->
                                <div class="input-group">
                                    <!--加入符号-->
                                    <div class="input-group-addon" style="width: 60px;">.pdb</div>
                                    <!--文件框-->
                                    <input id='location' class="form-control" onclick="$('#p-file').click();">
                                    <!--连接到选择文件按钮-->
                                    <label class="input-group-btn">
                                        <input type="button" id="i-check" value="Choose" class="btn btn-primary"
                                               onclick="$('#p-file').click();">
                                    </label>
                                </div>
                            </div>
                            <!--选择文件按钮-->
                            <input class="form-control my_hide" type="file" name="protein_file" id='p-file'
                                   accept=".pdb"
                                   onchange="$('#location').val($('#p-file').val());"
                                   required="required">
                        </div>
                        <!--上传诱饵分子表单-->
                        <div class="form-group">
                            <!--标签宽度-->
                            <label for="d-file" class="col-sm-3 control-label">Decoys <em>(optional)</em></label>
                            <!--选择框宽度-->
                            <div class="col-sm-9">
                                <!--在首尾加入符号-->
                                <div class="input-group">
                                    <!--加入符号-->
                                    <div class="input-group-addon" style="width: 60px">.mol2</div>
                                    <!--文件框-->
                                    <input id='decoys_location' class="form-control"
                                           onclick="$('#d-file').click();">
                                    <!--连接到选择文件按钮-->
                                    <label class="input-group-btn">
                                        <input type="button" id="i-check" value="Choose" class="btn btn-primary"
                                               onclick="$('#d-file').click();">
                                    </label>
                                </div>
                            </div>
                            <!--选择文件按钮-->
                            <input class="form-control my_hide" type="file" name="decoys_file" id='d-file'
                                   accept=".mol2"
                                   onchange="$('#decoys_location').val($('#d-file').val());"

                            >
                        </div>
                        <!--上传晶体分子表单-->
                        <div class="form-group">
                            <!--标签宽度-->
                            <label for="c-file" class="col-sm-3 control-label">Binding Site
                                <em>(optional)</em></label>
                            <!--选择框宽度-->
                            <div class="col-sm-9">
                                <!--在首尾加入符号-->
                                <div class="input-group" id="binding_site">
                                    <!--加入符号-->
                                    <div class="input-group-addon binding_sites" style="width: 60px">.mol2</div>
                                    <!--文件框-->
                                    <input id='cry_location' class="form-control binding_sites"
                                           onclick="$('#c-file').click();">
                                    <!--连接到选择文件按钮-->
                                    <label class="input-group-btn">
                                        <!--传文件按钮-->
                                        <button type="button" class="btn btn-primary" aria-label="Left Align"
                                                id="crystal_uplpad"
                                                onclick="$('#c-file').click();">
                                            <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
                                        </button>
                                        <!--上传文件-->
                                        <input type="button" id="i-check" value="Choose" class="btn btn-primary"
                                               style="display: none"
                                               onclick="$('#c-file').click();">
                                    </label>
                                    <!--选择获取活性位点坐标的方式-->
                                    <label class="input-group-btn">
                                        <button type="button" class="btn btn-success dropdown-toggle"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a id="provide_crystal">Reference Ligand</a></li>
                                            <li><a id="provide_res">Pocket Residues</a></li>
                                            <li><a id="provide_xyz">Coordinates (X,Y,Z)</a></li>
                                        </ul>
                                    </label>
                                </div>
                            </div>
                            <!--选择文件按钮-->
                            <input class="form-control my_hide" type="file" name="crystal_file" id='c-file'
                                   accept=".mol2"
                                   onchange="$('#cry_location').val($('#c-file').val());">
                        </div>
                    </div>
                    <!--右半部分-->
                    <div class="col-sm-6">
                        <!--上传配体分子表单-->
                        <div class="form-group">
                            <!--标签宽度-->
                            <label for="l-file" class="col-sm-3 control-label">Ligand</label>
                            <!--选择框宽度-->
                            <div class="col-sm-9">
                                <!--在首尾加入符号-->
                                <div class="input-group">
                                    <!--加入符号-->
                                    <div class="input-group-addon" style="width: 60px">.mol2</div>
                                    <!--文件框-->
                                    <input id='lig_location' class="form-control"
                                           onclick="$('#l-file').click();">
                                    <!--连接到选择文件按钮-->
                                    <label class="input-group-btn">
                                        <input type="button" id="i-check" value="Choose" class="btn btn-primary"
                                               onclick="$('#l-file').click();">
                                    </label>
                                </div>
                            </div>
                            <!--选择文件按钮-->
                            <input class="form-control my_hide" type="file" name="ligand_file" id='l-file'
                                   accept=".mol2"
                                   onchange="$('#lig_location').val($('#l-file').val());"
                                   required="required">
                        </div>
                        <!--上传待筛选文件文件表单-->
                        <div class="form-group">
                            <!--标签宽度-->
                            <label for="t-file" class="col-sm-3 control-label">Test ligand <em>(optional)</em></label>
                            <!--选择框宽度-->
                            <div class="col-sm-9">
                                <!--在首尾加入符号-->
                                <div class="input-group">
                                    <!--加入符号-->
                                    <div class="input-group-addon" style="width: 60px">.mol2</div>
                                    <!--文件框-->
                                    <input id='test_location' class="form-control"
                                           onclick="$('#t-file').click();">
                                    <!--连接到选择文件按钮-->
                                    <label class="input-group-btn">
                                        <input type="button" id="i-check" value="Choose" class="btn btn-primary"
                                               onclick="$('#t-file').click();">
                                    </label>
                                </div>
                            </div>
                            <!--选择文件按钮-->
                            <input class="form-control my_hide" type="file" name="test_file" id='t-file' accept=".mol2"
                                   onchange="$('#test_location').val($('#t-file').val());"
                            >
                        </div>
                        <!--Email-->
                        <div class="form-group">
                            <!--标签宽度-->
                            <label for="l-file" class="col-sm-3 control-label">Email <em>(optional)</em></label>
                            <!--选择框宽度-->
                            <div class="col-sm-9">
                                <!--在首尾加入符号-->
                                <div class="input-group" style="width: 100%">
                                    <!--文件框-->
                                    <input type="text" class="form-control" placeholder="xxx@zju.edu.cn"
                                           aria-describedby="basic-addon2" name="my_email">
                                    <!--加入符号-->
                                    <div class="input-group-addon" style="width: 73px">@</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--被选中的描述符 标题-->
                <ul class="list-group">
                    <li class="list-group-item" style="color: #333;text-align: center;border-bottom: none">
                        <strong>Chosen Descriptors <span class="badge" id="my_descriptors_number"
                                                         style="vertical-align: top"></span></strong>
                    </li>
                </ul>
                <!--被选中的描述符 内容-->
                <div class="table-responsive">
                    <table class="table table-hover table-bordered" style="margin-bottom: 0">
                        <tr id="my_chosen_descriptors_content"></tr>
                    </table>
                </div>
                <!--描述符表格-->
                <div class="table-responsive">
                    <table class="table table-hover " style="margin-bottom: 0;">
                        <!--标题-->
                        <tr>
                            <th colspan="6" style="text-align: center">Energy term from scoring function</th>
                        </tr>
                        <!--打分函数-->
                        <tr>
                            <!--AffiScore-->
                            <td>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="affiscore" name="aff"
                                           checked="checked">
                                    AffiScore
                                </label>
                            </td>
                            <!--AffinitydG-->
                            <td>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="affinitydG"
                                           name="affi" disabled="disabled">
                                    AffinitydG
                                </label>
                            </td>
                            <!--AlphaHB-->
                            <td>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="alphaHB" name="alp"
                                           disabled="disabled">
                                    AlphaHB
                                </label>
                            </td>
                            <!--Ase-->
                            <td>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="ase" name="ase"
                                           disabled="disabled">
                                    Ase
                                </label>
                            </td>
                            <!--Asp-->
                            <td>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="asp" name="asp"
                                           disabled="disabled">
                                    Asp
                                </label>
                            </td>
                            <!--AutoDock4-->
                            <td>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="autodock" name="aut">
                                    AutoDock 4
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <!--Chemgauss-->
                            <td>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="chemgauss"
                                           name="gau" disabled="disabled">
                                    Chemgauss
                                </label>
                            </td>
                            <!--ChemPLP-->
                            <td>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="chemplp" name="che"
                                           disabled="disabled">
                                    ChemPLP
                                </label>
                            </td>
                            <!--ChemScore-->
                            <td>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="chemscore"
                                           name="chem" disabled="disabled">
                                    ChemScore
                                </label>
                            </td>
                            <!--Contact-->
                            <td>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="contact" name="con">
                                    Contact
                                </label>
                            </td>
                            <!--Continuous-->
                            <td>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="continuous"
                                           name="cont">
                                    Continuous
                                </label>
                            </td>
                            <!--CyScore-->
                            <td>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="cyscore" name="cys">
                                    CyScore
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <!--DSX-->
                            <td>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="dsx" name="dsx"> DSX
                                </label>
                            </td>
                            <!--Galaxy BP2-->
                            <td>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="galaxy" name="gal">
                                    Galaxy BP2
                                </label>
                            </td>
                            <!--GBVIWSAdG-->
                            <td>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="GBVIWSAdG"
                                           name="gbv" disabled="disabled">
                                    GBVIWSAdG
                                </label>
                            </td>
                            <!--Glide sp-->
                            <td>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="sp" name="sp"
                                           disabled="disabled">
                                    Glide sp
                                </label>
                            </td>
                            <!--Glide xp-->
                            <td>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="xp" name="xp"
                                           disabled="disabled">
                                    Glide xp
                                </label>
                            </td>
                            <!--GoldScore-->
                            <td>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="goldscore"
                                           name="gol" disabled="disabled">
                                    GoldScore
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <!--Grid-->
                            <td>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="grid" name="gri">
                                    Grid
                                </label>
                            </td>
                            <!--Hawkins-->
                            <td>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="hawkins" name="haw">
                                    Hawkins
                                </label>
                            </td>
                            <!--LdG-->
                            <td>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="LondondG" name="ldg"
                                           disabled="disabled">
                                    LdG
                                </label>
                            </td>
                            <!--NNScore 2-->
                            <td>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="nn_vina" name="nn">
                                    NNScore 2
                                </label>
                            </td>
                            <!--PLP-->
                            <td>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="plp" name="plp"
                                           disabled="disabled"> PLP
                                </label>
                            </td>
                            <!--PLP 95-->
                            <td>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="plp95" name="plp9"
                                           disabled="disabled">
                                    PLP 95
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <!--Rdock-->
                            <td>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="rdock" name="rdo">
                                    Rdock
                                </label>
                            </td>
                            <!--Rdock Solv-->
                            <td>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="rdock_sol"
                                           name="rdoc">
                                    Rdock Solv
                                </label>
                            </td>
                            <!--RF Credo-->
                            <td>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="rfscore_credo"
                                           name="cre">
                                    RF Credo
                                </label>
                            </td>
                            <!--RF Element-->
                            <td>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="rfscore_element"
                                           name="ele">
                                    RF Element
                                </label>
                            </td>
                            <!--RF Sybyl-->
                            <td>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="rfscore_sybyl"
                                           name="syb"> RF Sybyl
                                </label>
                            </td>
                            <!--SASA-->
                            <td>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="sasa" name="sas">
                                    SASA
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <!--Smina-->
                            <td>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="smina" name="smi">
                                    Smina
                                </label>
                            </td>
                            <!--SMoG2016-->
                            <td>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="smog2016" name="smo">
                                    SMoG2016
                                </label>
                            </td>
                            <!--Surflex -->
                            <td>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="surflex" name="sur"
                                           disabled="disabled">
                                    Surflex
                                </label>
                            </td>
                            <!--Vina-->
                            <td>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="vina" name="vin">
                                    Vina
                                </label>
                            </td>
                            <!--XScore-->
                            <td>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="xscore" name="xsc">
<!--                                           disabled="disabled">-->
                                    <!--XScoredisabled="disabled">-->
                                    XScore
                                </label>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <!--相互作用指纹 标题-->
                        <tr>
                            <th colspan="6" style="text-align: center">Interaction Fingerprint</th>
                        </tr>
                        <!--相互作用指纹 内容-->
                        <tr>
                            <td>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="ifp" name="ifp"> IFP
                                </label>
                            </td>
                            <td>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="plec" name="ple"> PLEC
                                </label>
                            </td>
                            <td>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="silirid" name="sil">
                                    SILIRID
                                </label>
                            </td>
                            <td>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="splif" name="spl">SPLIF
                                </label>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <!--分子指纹 标题-->
                        <tr>
                            <th colspan="6" style="text-align: center">Molecular Fingerprint</th>
                        </tr>
                        <!--分子指纹 内容-->
                        <tr>
                            <td>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="ecfp" name="ecf"> ECFP
                                </label>
                            </td>
                            <td>
                                <label class="checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="pubchem" name="pad">
                                    PubchemFP
                                </label>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
                <!--example-->
                <div class="panel-footer" style="font-size: 18px;padding: 12px 18px">
                    <strong>Example:</strong>
                    <a href="{% url 'cal_queue:example_download' 'protein' %}">Protein</a>
                    |
                    <a href="{% url 'cal_queue:example_download' 'ligand' %}">Ligand</a>
                    |
                    <a href="{% url 'cal_queue:example_download' 'decoys' %}">Decoys</a>
                    |
                    <a href="{% url 'cal_queue:example_download' 'test' %}">Test Ligand</a>
                    |
                    <a href="{% url 'cal_queue:example_download' 'crystal_ligand' %}">Reference Ligand</a>
                    |
                    <a href="{% url 'cal_queue:example_download' "descriptor" %}">Result</a>
                </div>
            </div>
        </div>
        <br/><br/>
        <!--提交任务行-->
        <div class="row">
            <!--提交任务-->
            <div class="col-sm-6 col-sm-offset-3 text-center">
                <button type="submit" id="submit_button" class="btn btn-success btn-lg">Submit</button>
            </div>
        </div>
    </form>
    <br/><br/><br/><br/>
{% endblock %}
<!--自定义脚本-->
{% block js %}
    <script type="text/javascript">
        //加载即执行
        $(function () {
            check_show();
            //判断哪些能量项被选中
            $(':checkbox').click(function () {
                check_show();
                //若没有描述符被选中，则禁用提交按钮
                if ($(':checked').length === 0) {
                    $('#submit_button').addClass('disabled');
                }
                //若有描述符被选中，则解除禁用
                else {
                    $('#submit_button').removeClass('disabled');
                }
            });
            //插件对表单验证
            $('form').bootstrapValidator({

                message: 'This value is not valid',
                excluded: [':disabled', ':hidden'],
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    //蛋白文件
                    protein_file: {
                        validators: {
                            notEmpty: {
                                message: 'Upload at least one protein file in pdb format'
                            },
                            file: {
                                extension: 'pdb',
                                type: 'application/pdb',
                                message: 'The file is not valid',
                                // 1024*1024 = 1MB
                                minSize: 0.002 * 1024 * 1024,  //最小2KB
                                maxSize: 2 * 1024 * 1024,  //最大2MB
                            }
                        }
                    },
                    //配体文件
                    ligand_file: {
                        validators: {
                            notEmpty: {
                                message: 'Upload at least one ligand file in mol2 format'
                            },
                            file: {
                                extension: 'mol2',
                                type: 'application/mol2',
                                message: 'The file is not valid',
                                // 1024*1024 = 1MB
                                minSize: 0.003 * 1024 * 1024,  //最小3KB  1 个分子
                                maxSize: 700 * 1024 * 1024,  //最大700MB  110000 分子 
                            }
                        }
                    },
                    //诱饵文件
                    decoys_file: {
                        validators: {
                            file: {
                                extension: 'mol2',
                                type: 'application/mol2',
                                message: 'The file is not valid',
                                // 1024*1024 = 1MB
                                minSize: 0.003 * 1024 * 1024,  //最小3KB  1 个分子
                                maxSize: 700 * 1024 * 1024,  //最大700MB 大约 110000个分子
                            }
                        }
                    },
                    //测试文件
                    test_file: {
                        validators: {
                            file: {
                                extension: 'mol2',
                                type: 'application/mol2',
                                message: 'The file is not valid',
                                // 1024*1024 = 1MB
                                minSize: 0.003 * 1024 * 1024,  //最小3KB  1 个分子
                                maxSize: 700 * 1024 * 1024,  //最大700MB 大约 110000个分子
                            }
                        }
                    },
                    //共晶文件
                    crystal_file: {
                        validators: {
                            file: {
                                extension: 'mol2',
                                type: 'application/mol2',
                                message: 'The file is not valid',
                                // 1024*1024 = 1MB
                                minSize: 0.001 * 1024 * 1024,  //最小1KB  1 个分子
                                maxSize: 0.012 * 1024 * 1024,  //最大12kB  1 个分子
                            }
                        }
                    },
                    //邮箱格式校验
                    my_email: {
                        validators: {
                            emailAddress: {
                                message: 'The input is not a valid email address'
                            }
                        }
                    },
                }
            });
        });

        // 隐藏所有能量项，只显示被勾选的打分函数的能量项
        function check_show() {
            //移除所有已经添加的td
            $('#my_chosen_descriptors_content td').remove();
            //动态添加td
            $(':checked').each(function () {
                <!--循环判断-->
                {% for sf in sfs %}
                    <!--动态载入描述符   sf.0 为函数名， sf.1为能量项列表-->
                    if ($(this).val() === "{{ sf.0 }}") {
                        var final = "{% for descriptors in  sf.1  %}\
                                        {% if descriptors != 'name' %}\
                                            <td style=\" white-space:nowrap\">{{ descriptors }}</td>\
                                        {% endif %}\
                                    {% endfor %}";
                        $('#my_chosen_descriptors_content').append(final);
                    }
                {% endfor %}
            });
            //计算td的数量（即描述符的数量）
            let td_number = $('#my_chosen_descriptors_content').children().length;
            //依次检查 NNscore , RF Element , RF Sybyl , IFP , PLEC , SILIRID , SPLIF , ECFP ,PubchemFP
            //数字要减一，因为checkbox加了1
            if ($('[name="nn"]').is(':checked')) {
                td_number += 347;
            }
            if ($('[name="ele"]').is(':checked')) {
                td_number += 485;
            }
            if ($('[name="syb"]').is(':checked')) {
                td_number += 5045;
            }
            if ($('[name="ifp"]').is(':checked')) {
                td_number += 1023;
            }
            if ($('[name="ple"]').is(':checked')) {
                td_number += 1023;
            }
            if ($('[name="sil"]').is(':checked')) {
                td_number += 167;
            }
            if ($('[name="spl"]').is(':checked')) {
                td_number += 1023;
            }
            if ($('[name="ecf"]').is(':checked')) {
                td_number += 1023;
            }
            if ($('[name="pad"]').is(':checked')) {
                td_number += 880;
            }
            //把数量赋予badge
            $('#my_descriptors_number').text('number = ' + td_number);
        }
    </script>
{% endblock %}